/*main*/
.main .form .describe > h2 {
  color: rgb(142, 142, 142);
  font-size: 17px;
  text-align: center;
  font-weight: 600px;
}

.main-describe a,
p {
  font-size: 12px;
  font-weight: 400px;
  line-height: 16px;
  overflow-wrap: break-word;
  text-align: center;
  word-break: break;
}
.main-describe p {
  color: rgb(142, 142, 142);
}

.main-more {
  text-decoration-line: none;
}
