body {
  margin: 0;
}
a {
  text-decoration: none;
  color: unset;
}
li {
  list-style: none;
}
* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 6px;
}
#header ul {
  display: flex;
  align-items: center;
  margin: 0 5px 0 15px;
  padding-inline-start: 0;
}
#header li {
  padding: 5px;
  margin: 0 5px;
  font-size: 13px;
}
.btn-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.btn-menu:hover {
  background-color: rgba(60, 64, 67, 0.08);
}
.img-menu {
  width: 16px;
  height: 16px;
  vertical-align: bottom;
  opacity: 0.6;
}
.btn-profile {
  width: 40px;
  height: 40px;
  background: #ff7b00;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.btn-profile:hover {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid rgb(255, 255, 255);
}

#header a:hover {
  text-decoration: underline;
  cursor: pointer;
}
/*main*/
.logo-img {
  width: 272px;
  align-items: center;
  justify-content: center;
}
#logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*search*/
#search {
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.form-search {
  margin: auto;
  display: flex;
  align-items: center;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  height: 44px;
  padding: 0 8px 0 14px;
  max-width: 584px;
}
.form-search:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}
.input {
  flex: 1;
  align-items: center;
}

#input-search {
  border: none;
  font: 16px;
  height: 34px;
  outline: none;
  display: flex;
  flex: 1;
}

.main-left img {
  width: 16px;
  margin-right: 13px;
  display: flex;
  align-items: center;
}
.main-right {
  display: flex;
}
.main-right img {
  height: 20px;
  margin: 0 8px;
}
.main-right + img {
  opacity: 0.6;
}
#img-keyboard {
  position: relative;
  opacity: 0.5;
}
#img-keyboard:hover::after {
  display: block;
}
#img-keyboard::after {
  display: none;
  content: "입력 도구";
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
  padding: 5px;
  background: black;
  color: white;
  font-size: 10px;
  font-weight: bold;
  white-space: nowrap;
}
#img-mic {
  position: relative;
}
#img-mic:hover::after {
  display: block;
}
#img-mic::after {
  display: none;
  content: "음성 검색";
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
  padding: 5px;
  background: black;
  color: white;
  font-size: 10px;
  font-weight: bold;
  white-space: nowrap;
}
#img-lens {
  position: relative;
}
#img-lens:hover::after {
  display: block;
}
#img-lens::after {
  display: none;
  content: "이미지로 검색";
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
  padding: 5px;
  background: black;
  color: white;
  font-size: 10px;
  font-weight: bold;
  white-space: nowrap; /*글씨 한줄로 보이게, 이거 하고나서 치우져지니 left, transform까지해줌*/
}

.main-button {
  padding-top: 18px;
  display: flex;
  justify-content: center;
}
.main-button button {
  color: #3c4043;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
}
.main-button button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #dadce0;
  cursor: pointer;
}
/*footer*/
footer {
  color: #70757a;
  font-size: 14px;
  background-color: #f2f2f2;
}
.footer1 {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
}
.footer2 {
  justify-content: space-evenly;
  display: flex;
  padding: 0 20px;
}

@media screen and (max-width: 750px) {
  /*줄였을때 반응형으로 바뀌는 부분*/
  .footer2 {
    flex-direction: column;
  }
  .footer2 > div {
    text-align: center;
  }
  /*수정전
    .footer2 > div {
    text-align: center;
  }
  했었는데, 원래 div를 바로 선택하면 안 되고,
  태그 이름 붙여준다음에 그걸 골라줘야함.*/
}
@media screen and (min-width: 1200px) {
  /*늘렸을때 반응형으로 바뀌는 부분*/
  .footer2 {
    justify-content: space-between;
    padding: 0 20px;
  }
}

.footer2 a {
  padding: 15px;
  display: inline-block;
}
.footer2 a:hover {
  cursor: pointer;
  text-decoration: underline;
}
/*footer를 바닥에 두기 위해서 기본적으로 vh로 화면 크기를 조절해주기 위해*/
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
/**/
